<h1>Quiz<span>: el juego de las preguntas</span></h1>
<form method='get' action='/quizes/answer'>
  <p>
  	Pregunta: <%=pregunta%> <br>
  	<input id="respuesta" type='text' name='respuesta' value='Responda aquí'>
  	<input type="submit" value="Enviar">
  </p>
</form>